<!DOCTYPE html>
<html>
<head>
  <title>EventLite Home</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css">
</head>

<body>
  <div class="container">
    <h1>EventLite</h1>

    <h3>Event</h3>
    <h5 th:text="${eventsName"> My Event</h5>
    <br>
    
    <h3>Event Informtion</h3>
    <h5 th:text="${eventsDescription"> My Event</h5>
    <br>
    
    <h3>Venue</h3>
    <h5 th:text="${eventsVenue"> My Event</h5>
    <br>
    
    <h3>Date</h3>
    <h5 th:text="${eventsDate"> My Event</h5>
    <br>
    
    <h3>Time</h3>
    <h5 th:text="${eventsTime"> My Event</h5>
    <br>
    
        <form action = "#" th:action = "@{/events}" method = "GET"></form>
            <button type = "submit">
                <a href = "#" th:href = "@{/events/delete/} + ${id}"><i>Delete</i></a>
            </button>
  </div>

  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/popper.js/umd/popper.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
